<div class="text-layout">
    <h1>Pipe no comunes</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>
<div class="grid">

    <div class="col">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{nombre}}, es un placer {{ genero | i18nSelect:invitacionMap }} a nuestro evento.
            </p>

            <button pButton type="button" label="Cambiar Persona" class="p-button-rounde p-button-info" icon="pi pi-users" (click)="cambiarCliente(nombre)"></button>

        </p-fieldset>
    </div>
    <div class="col">

        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>
                Actualmente {{ clientes.length | i18nPlural:clientesMapa }}
            </p>
            <button pButton type="button" label="Eliminar Cliente" class="p-button-rounde p-button-danger" icon="pi pi-trash" (click)="borrarCliente()"></button>


        </p-fieldset>
    </div>



</div>
<div class="grid pt-5">

    <div class="col">
        <p-fieldset legend="Slice Pipe" [toggleable]="true" [collapsed]="true" class="max-w-min md:max-w-max">

            <b>
                Original
            </b>
            <p>
                {{clientes | json}}
            </p>


            <b>slice:0:2</b>
            <p>
                {{clientes | slice:0 | json}}
            </p>
            <b>slice:1:2</b>
            <p>
                {{clientes | slice:0:2}}
            </p>
            <b>slice:1:3</b>
            <p>
                {{clientes | slice:1:3 }}
            </p>
            <b>slice:3:4</b>
            <p>
                {{clientes | slice:3:5 }}
            </p>
            <b>slice:0:4</b>
            <p>
                {{'Mateo' | slice:0:3 }}
            </p>


        </p-fieldset>
    </div>
    <div class="col">
        <p-fieldset legend="KeyValue Pipe " [toggleable]="true " [collapsed]="true ">

            <ul>
                <li *ngFor="let item of persona | keyvalue ">
                    <b>{{item.key | titlecase}}:</b> {{item.value}}
                </li>
            </ul>

        </p-fieldset>
    </div>
</div>
<div class="grid pt-5">
    <div class="col">
        <p-fieldset legend="Json Pipe " [toggleable]="true " [collapsed]="false">

            <pre>{{heroes | json}}</pre>

        </p-fieldset>

    </div>

    <div class="col">
        <p-fieldset legend="Async Pipe " [toggleable]="true " [collapsed]="false">

            <pre>{{ miObservable | async }}</pre>
            <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
            <pre>{{ valorPromesa | async }}</pre>

        </p-fieldset>

    </div>

</div>