<!-- <div class="text-layout">
    <h1>{{ nombre| titlecase }}</h1>
    <h1>{{ valor| number }}</h1>
    <h1>{{ obj| json }}</h1>
</div>

<button pButton (click)="mostrarNombre()" label="Cambiar nombre" class="p-button-raised p-button-help" icon="pi pi-android" iconPos="right">
</button>


<p-card [header]="nombre | titlecase" subheader="This is subheader">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eius asperiores quibusdam dicta reprehenderit non similique tenetur est illo facilis labore, adipisci nihil aliquid iure ullam voluptatem recusandae unde in.
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>