<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>
        Pipes creados por. {{ 'nosotros' | mayusculas:enMayusculas }}
    </p>

</div>


<p-toolbar>
    <div class="p-toolbar-group-left">
        <button pButton type="button" label="toggle mayúsculas" (click)="cambiar()" class="mr-1"></button>


    </div>

    <div class="p-toolbar-group-right">
        <button pButton type="button" label="Por nombre" icon="pi pi-sort-alpha-down" class="mr-1 p-button-warning" (click)="cambiarOrden('nombre')"></button>
        <button pButton type="button" label="Vuela" icon="pi pi-sort-numeric-down-alt" class="mr-1 p-button-success" (click)="cambiarOrden('vuela')"></button>
        <button pButton type="button" label="Por color" icon="pi pi-sort-numeric-down-alt" class="mr-1 p-button-help" (click)="cambiarOrden('color')"></button>
        <!-- <p-button icon="pi pi-search"></p-button> -->
    </div>
</p-toolbar>


<div class="grid pt-5">
    <div class="col pt-2">
        <p-table [value]="heroes | slice:0" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre
                        <p-sortIcon field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="vuela">Vuela
                        <p-sortIcon field="vuela"></p-sortIcon>
                    </th>
                    <th pSortableColumn="color">Color
                        <p-sortIcon field="color"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="grid">
    <div class="col pt-5">
        <p-table [value]="heroes | ordenar:ordenarPor" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela | titlecase}}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>